/* Variables */
:root {
	--primary-color: #00a8a8;
	--secondary-color: #a4f4f4;
	--accent-color: #ea4139;
	--primary-color-lighter: #f2ecda;
	--primary-color-darker: #002020;
	--secondary-color-darker: #5ee5e5;
	--opaque-background: #f2ecda90;
	--opaque-blue: #a4f4f490;
	--primary-font: 'Josefin Sans', sans-serif;
	--primary-weight-thin: 200;
	--primary-weight-bold: 400;
	--secondary-font: 'Quicksand', sans-serif;
	--secondary-weight-thin: 400;
	--secondary-weight-bold: 600;
}

/* Accounts for border and padding in content dimensions */
* {
	box-sizing: border-box;
}

/* Defaults for ALL */
html,
body {
	overflow-x: hidden;
	font-size: 16px;
}

body {
	background-color: var(--primary-color-darker);
	color: var(--primary-color-lighter);
	font-family: var(--primary-font);
	font-weight: var(--primary-weight-thin);
	/* max-width: 100%; */
	position: relative;
	padding: 2rem;
}

h1 {
	font-weight: var(--primary-weight-bold);
	font-size: 3rem;
}

a {
	color: var(--primary-color-lighter);
}

a:hover,
a:focus {
	text-decoration: none;
	color: var(--accent-color);
}

button,
.button {
	/* overwrites browser defaults and resets the border */
	border: none;
	background-color: var(--primary-color-lighter);
	color: var(--primary-color-darker);
	text-decoration: none;
	border-radius: 0.25rem;
	font-family: var(--primary-font);
	font-weight: var(--primary-weight-bold);
	font-size: 2rem;
	transition: 0.2s opacity;
	padding: 0.5rem;
	margin: 2rem;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
	cursor: pointer;
	opacity: 0.8;
	background-color: var(--accent-color);
	color: var(--primary-color);
	transition: 0.2s opacity;
}

/* BORDER */
.top,
.bottom,
.left,
.right {
	background: var(--primary-color-lighter);
	position: fixed;
}

.left,
.right {
	top: 0;
	bottom: 0;
	width: 2%;
}

.left {
	left: 0;
}

.right {
	right: 0;
}

.top,
.bottom {
	left: 0;
	right: 0;
	height: 2%;
}

.top {
	top: 0;
}

.bottom {
	bottom: 0;
}

/* NAVIGATION */

.navigation__list {
	list-style-type: none;
	display: flex;
	width: 96%;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	justify-content: space-evenly;
	padding: 0;
}

.navigation__li {
	font-weight: var(--primary-weight-bold);
	font-size: 3rem;
	display: flex;
	width: fit-content;
}

.navigation__list--item {
	text-decoration: none;
	flex-grow: 3;
	flex-shrink: 1;
}

.navigation__list--item__active {
	text-decoration: none;
	color: var(--opaque-blue);
	flex-grow: 1;
	flex-shrink: 1;
	width: fit-content;
}

/* HOME */

#home {
	margin: 5%;
}

.greeting {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

#home__img {
	border: 1rem ridge var(--primary-color);
	border-radius: 50%;
	margin: 2rem;
	width: 530px;
	height: 530px;
}

#home__h1 {
	text-align: center;
	line-height: 5rem;
}

/* ABOUT */

#about__main {
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 1%;
}

#about__main--text {
	text-align: center;
	font-family: var(--secondary-font);
}

.about__h1 {
	color: var(--primary-color-lighter);
	text-align: center;
}

.about__h2 {
	color: var(--primary-color-lighter);
	text-align: center;
	font-weight: var(--secondary-weight-bold);
}

h2 {
	font-size: 2rem;
}

.about__p {
	font-weight: var(--secondary-weight-thin);
	line-height: 2rem;
}

hr {
	margin: 5rem;
}

table {
	font-size: 1.5rem;
}

table,
th,
td {
	border: 5px double;
	border-color: var(--opaque-blue);
	padding: 2rem;
	border-collapse: collapse;
}

th {
	font-weight: var(--secondary-weight-bold);
}

#resume-container {
	text-align: center;
}

#resume-button {
	display: inline-block;
}

/* PORTFOLIO */

/* start grid fallback */
.work__grid--item {
	display: inline-block;
	/* width: 33%; */
}

/* end grid fallback */

@supports (display: grid) {
	.work__grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2rem;
		margin: 5%;
	}

	.work__grid--item {
		border: 1rem solid var(--opaque-blue);
		width: auto;
		color: var(--primary-color-lighter);
		padding: 3rem;
		line-height: 2rem;
		text-align: center;
	}

	.work__buttons {
		display: inline-block;
		text-align: center;
		line-height: 2rem;
		margin-top: 1rem;
		margin-bottom: 2rem;
	}

	.work__grid--link {
		font-size: 1.5rem;
		margin: auto;
	}
}

/* CONTACT */
#contact__info {
	font-family: var(--primary-font);
	text-align: center;
	width: auto;
	color: var(--primary-color-lighter);
	border-style: outset;
	border-color: var(--opaque-blue);
	border-radius: 25%;
}

.contact__item {
	background-color: var(--primary-color-darker);
	width: auto;
	padding: 5%;
	margin: auto;
	margin-top: 5%;
	width: 50%;
}

.contact__link {
	font-size: 2rem;
}

/* FOOTER */
.page-footer {
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.footer__social {
	text-decoration: none;
}

.footer__social:hover,
.footer__social:focus {
	cursor: pointer;
	text-decoration: none;
}

/* Responsive rules for different screen sizes */

@media all and (max-width: 1050px) {
	.navigation__li {
		font-size: 2rem;
	}

	#home__img {
		width: 300px;
		height: 300px;
	}

	h1 {
		font-size: 2rem;
	}

	.work__grid {
		grid-template-columns: 1fr;
	}

	a.contact__link {
		font-size: 1.5rem;
		margin: auto;
	}
}

@media all and (max-width: 800px) {
	.navigation__li {
		font-size: 1.5rem;
	}
}

@media all and (max-width: 600px) {
	.navigation__li {
		font-size: 1rem;
	}

	table {
		font-size: 1.5rem;
		width: fit-content;
	}

	td {
		padding: 3%;
		line-height: 2.5rem;
	}

	a.contact__link {
		font-size: 1rem;
	}
}

@media all and (max-width: 450px) {
	.fa-solid {
		visibility: hidden;
	}

	h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	.top,
	.bottom,
	.left,
	.right {
		width: 0px;
	}

	#home__h1 {
		line-height: 3rem;
	}

	#about__main {
		margin-left: 5%;
		margin-right: 5%;
	}

	table {
		font-size: 1rem;
	}

	td {
		line-height: 2rem;
	}

	.work__grid--item {
		border-width: 0.5rem;
		border-left: none;
		border-right: none;
		padding: 0;
	}
}

@media all and (max-width: 300px) {
	.navigation__li {
		font-size: 0.75rem;
	}

	#home__img {
		width: 200px;
		height: 200px;
		border-width: 1rem;
	}

	#home__button {
		font-size: 1rem;
	}

	table {
		font-size: 0.5rem;
	}

	/* .work__grid--item {
		padding: 15%;
	}

	.work__grid--link {
		font-size: 5vw;
		height: 4vh;
		line-height: 2vh;
		width: 55vw;
	}

	.contact__link {
		font-size: 40%;
	} */
}
