/* Variables */
:root {
  --primary-color: #00a8a8;
  --secondary-color: #a4f4f4;
  --accent-color: #ea4139;
  --primary-color-lighter: #f2ecda;
  --primary-color-darker: #002020;
  --secondary-color-darker: #5ee5e5;
  --primary-font: 'Josefin Sans', sans-serif;
  --primary-font-weight-regular: 200;
  --primary-font-weight-bold: 400;
}

/* Accounts for border and padding in content dimensions */
* {
  box-sizing: border-box;
}

/* Defaults for ALL */
html, body {
  overflow-x: hidden;
}

body {
  background-color: var(--primary-color-darker);
  color: var(--primary-color-lighter);
  font-family: var(--primary-font);
  font-weight: var(--primary-font-weight-regular);
  max-width: 100%;
  position: relative;
  padding: 4%;
}

h1 {
  font-weight: var(--primary-font-weight-bold);
}

a {
  color: var(--primary-color-lighter);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--accent-color);
}

button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  background-color: var(--primary-color-lighter);
  color: var(--primary-color-darker);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  font-family: var(--primary-font);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  background-color: var(--accent-color);
  color: var(--secondary-color-darker);
}

/* BORDER */
.top, .bottom, .left, .right {
  background: var(--primary-color-lighter);
  position: fixed;
}

.left, .right {
  top:0; bottom: 0;
  width: 2%;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.top, .bottom {
  left:0; right: 0;
  height: 2%;
}

.top {
  top:0;
}

.bottom {
  bottom: 0;
}

/* NAVIGATION */

.navigation__list {
  list-style-type: none;
  display: flex;
  width: 96%;
  margin: 2%;
  padding-inline-start: 0px;
}

.navigation__li {
  width: 100%;
  font-weight: 700;
  font-size: 3vw;
  display: flex;
  justify-content: center;
}

.navigation__list--item {
  text-decoration: none;
}

.navigation__list--item__active {
  text-decoration: none;
  color: var(--secondary-color);
}

/* HOME */

#home {
  margin: 5%;
}

.greeting {
  display: grid;
}

.greeting__item {
  padding: 2%;
}

#home__img {
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/4;
  padding: 2%;
  width: 30vw;
}

#home__h1 {
  grid-column: 2/4;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
}

#home__button {
  grid-column: 2/4;
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
  font-size: 3vw;
}

/* ABOUT */

.about__h1 {
  color: var(--primary-color-lighter);
  text-align: center;
  font-size: 3vw;
}

.about__h2 {
  color: var(--primary-color-lighter);
  text-align: center;
}

#puzzles {
  font-size: 4vw;
}

.about__p {
  font-size: 2vw;
}

#about__main {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;
}

#about__main--text {
  line-height: 5vh;
  width: 100%;
  text-align: center;
}

table {
  font-size: 2vw;
}

table, th, td {
  border: 1px solid;
  border-color: var(--secondary-color);
  padding: 1%;
}

#resume-container {
  text-align: center;
}

#resume-button {
  display: inline-block;
}

/* PORTFOLIO */

/* start grid fallback */
.work__grid--item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
  .work__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 5%;
  }

  .work__grid--item {
    background-color: var(--primary-color-darker);
    width: auto;
    margin: 0;
    color: var(--primary-color-lighter);
    border-style: outset;
    border-color: var(--secondary-color);
    border-radius: 20%;
    padding: 15%;
    line-height: 22px;
  }

  .work__grid--item:last-child {
    grid-column: 3/3;
    grid-row: 1/3;
  }
}

/* CONTACT */
#contact__info {
  font-size: 2em;
  line-height: 7mm;
  font-family: var(--primary-font);
  text-align: center;
}

  .contact__item {
    background-color: var(--primary-color-darker);
    width: auto;
    color: var(--primary-color-lighter);
    border-style: outset;
    border-color: var(--secondary-color);
    border-radius: 20%;
    padding: 5%;
    margin: auto;
    margin-top: 5%;
    width: 50%;
  }

  .contact__h1 {
    font-size: 5vw;
  }

  .contact__link {
    font-size: 2vw;
  }

/* FOOTER */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__social {
  text-decoration: none;
}

.footer__social:hover,
.footer__social:focus {
  cursor: pointer;
  text-decoration: none;
}

/* Responsive rules for different screen sizes */

@media all and (max-width: 1300px) {
  .greeting {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #home__img {
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 2%;
    justify-self: center;
  }
  
  #home__h1 {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  
  #home__button {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  #about__main--text {
    line-height: 3vh;
  }

  .work__grid {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .work__grid--item {
    padding: 10%;
  }

  .work__grid--item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  .contact__main {
    line-height: 8px;
  }
}

@media all and (max-width: 450px) {

  .top, .bottom, .left, .right {
    width: 0px;
  }

  }

  #about__main {
  }

  #about__main--text {
    line-height: 2vh;
  }

  .about__p {
    font-size: 2.5vw;
  }

  .work__grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  table {
    font-size: 2.5vw;
  }

  .contact__item {
    width: 60%;
  }

  .contact__h1 {
    font-size: 120%;
  }

  .contact__link {
    font-size: 60%;
  }
}

@media all and (max-width: 300px) {

  li {
    font-size: 40%;
  }

  }

  .contact__link {
    font-size: 40%;
  }
}

    height: 50vh;
  }
}